# Pandas Datetime Functionality

- This lesson covers how to convert a feature in a Pandas dataframe into a timestamp object.
- Both timestamp objects and basic Python datetime objects can be formatted using strftime and individual components can be extracted from each.
- Demonstrate converting time series data to an index for slicing.
- Use of .idxmax() and .idxmin() to obtain dates associated with extreme values

In [1]:
import pandas as pd
url="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcpVvVioO23cndDwr1UmKhndrSq6ES6ZUKZ4fkBBqIAavd1_coVPO_yeOye-Ub-cAWlkX3psJvOU8o/pub?output=csv"
df = pd.read_csv(url)
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
dtypes: float64(4), object(1)
memory usage: 57.2+ KB

         date   meantemp  humidity  wind_speed  meanpressure
0  2013-01-01  10.000000      84.5    0.000000   1015.666667
1  2013-01-02   7.400000      92.0    2.980000   1017.800000
2  2013-01-03   7.166667      87.0    4.633333   1018.666667

## Exploring formatting

**Using an object column to create datetime type column**

In [2]:
# Add a datetime column based on the string in the 'date' column
df['datetime'] = pd.to_datetime(df['date'])
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
 5   datetime      1462 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 68.7+ KB

         date   meantemp  humidity  wind_speed  meanpressure   datetime
0  2013-01-01  10.000000      84.5    0.000000   1015.666667 2013-01-01
1  2013-01-02   7.400000      92.0    2.980000   1017.800000 2013-01-02
2  2013-01-03   7.166667      87.0    4.633333   1018.666667 2013-01-03

- Although the 'date' and 'datetime' columns appear to have the same information, it is stored differently.

In [3]:
# Preview first row from the date column (string)
df.loc[0, 'date']

'2013-01-01'

In [4]:
# Preview first row from the datetime column (datetime64[ns])
df.loc[0, 'datetime']

Timestamp('2013-01-01 00:00:00')

In [6]:
# Demonstrate format codes
# If we wanted 'January 01, 2013' we would use the format '%B %d, %Y'
fmt = '%B %d, %Y'
df.loc[0, 'datetime'].strftime(fmt)

'January 01, 2013'

**Using the .dt. accessor for a datetime column**
- Similar to using .str to access string methods, we can use .dt for datetime columns

In [7]:
df['datetime_fmt'] = df['datetime'].dt.strftime(fmt)
df['datetime_fmt']

0        January 01, 2013
1        January 02, 2013
2        January 03, 2013
3        January 04, 2013
4        January 05, 2013
              ...
1457    December 28, 2016
1458    December 29, 2016
1459    December 30, 2016
1460    December 31, 2016
1461     January 01, 2017
Name: datetime_fmt, Length: 1462, dtype: object

- Note that .dt.strftime returns a str, not a datetime column
- This limitation is fine when simply displaying a column, but when working with the features of a datetime column we must accept the default formatting. However, the formatting is very flexible.

**.dt.year/month/day/etc.**

In [9]:
df['datetime'].dt.year.head()

0    2013
1    2013
2    2013
3    2013
4    2013
Name: datetime, dtype: int64

In [11]:
df['datetime'].dt.month.head()

0    1
1    1
2    1
3    1
4    1
Name: datetime, dtype: int64

In [12]:
df['datetime'].dt.quarter.head()

0    1
1    1
2    1
3    1
4    1
Name: datetime, dtype: int64

In [13]:
df['datetime'].dt.day_name().head()

0      Tuesday
1    Wednesday
2     Thursday
3       Friday
4     Saturday
Name: datetime, dtype: object

## Setting a datetime index

In [14]:
# Before we can begin slicing our data using the datetime object, we must make it the index
df = df.set_index('datetime')
df

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January 01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January 02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January 03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January 04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January 05, 2013"
...,...,...,...,...,...,...
2016-12-28,2016-12-28,17.217391,68.043478,3.547826,1015.565217,"December 28, 2016"
2016-12-29,2016-12-29,15.238095,87.857143,6.000000,1016.904762,"December 29, 2016"
2016-12-30,2016-12-30,14.095238,89.666667,6.266667,1017.904762,"December 30, 2016"
2016-12-31,2016-12-31,15.052632,87.000000,7.325000,1016.100000,"December 31, 2016"
2017-01-01,2017-01-01,10.000000,100.000000,0.000000,1016.000000,"January 01, 2017"

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
               '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
               '2016-12-31', '2017-01-01'],
              dtype='datetime64[ns]', name='datetime', length=1462, freq=None)

## Slicing a time series with Pandas

In [17]:
# Pandas is very flexible when using .loc with datetime objects
# For example we can select any row with the year 2013
df.loc['2013']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January 01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January 02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January 03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January 04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January 05, 2013"
...,...,...,...,...,...,...
2013-12-27,2013-12-27,11.875000,79.875000,1.162500,1018.625000,"December 27, 2013"
2013-12-28,2013-12-28,10.875000,70.000000,5.325000,1019.250000,"December 28, 2013"
2013-12-29,2013-12-29,10.571429,69.428571,5.325000,1018.500000,"December 29, 2013"
2013-12-30,2013-12-30,12.375000,79.500000,6.475000,1018.125000,"December 30, 2013"
2013-12-31,2013-12-31,14.500000,89.375000,4.862500,1020.500000,"December 31, 2013"

In [18]:
# We can also easily select a range of dates
df.loc['2013':'2014']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January 01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January 02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January 03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January 04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January 05, 2013"
...,...,...,...,...,...,...
2014-12-27,2014-12-27,10.375000,69.000000,2.775000,1018.625000,"December 27, 2014"
2014-12-28,2014-12-28,9.000000,86.000000,0.700000,1019.750000,"December 28, 2014"
2014-12-29,2014-12-29,11.125000,72.625000,1.387500,1017.250000,"December 29, 2014"
2014-12-30,2014-12-30,11.625000,70.625000,2.550000,1014.625000,"December 30, 2014"
2014-12-31,2014-12-31,12.375000,67.125000,2.787500,1016.875000,"December 31, 2014"

In [19]:
df.loc['2013':'06-2014']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January 01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January 02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January 03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January 04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January 05, 2013"
...,...,...,...,...,...,...
2014-06-26,2014-06-26,32.500000,60.375000,3.237500,1001.000000,"June 26, 2014"
2014-06-27,2014-06-27,34.750000,48.500000,9.487500,1001.625000,"June 27, 2014"
2014-06-28,2014-06-28,34.875000,49.000000,5.787500,999.375000,"June 28, 2014"
2014-06-29,2014-06-29,33.000000,57.750000,9.712500,997.750000,"June 29, 2014"
2014-06-30,2014-06-30,32.000000,67.750000,3.250000,997.500000,"June 30, 2014"

In [22]:
# Pandas is even flexible enough to allow different date formats
# (although this would be confusing in actual code and should be avoided)
df.loc['March, 2013':'06-2014']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-03-01,2013-03-01,17.333333,49.333333,24.066667,1016.333333,"March 01, 2013"
2013-03-02,2013-03-02,19.000000,54.000000,15.725000,1016.250000,"March 02, 2013"
2013-03-03,2013-03-03,19.333333,62.833333,8.633333,1016.166667,"March 03, 2013"
2013-03-04,2013-03-04,17.600000,71.000000,5.560000,1015.800000,"March 04, 2013"
2013-03-05,2013-03-05,20.875000,61.875000,4.162500,1016.375000,"March 05, 2013"
...,...,...,...,...,...,...
2014-06-26,2014-06-26,32.500000,60.375000,3.237500,1001.000000,"June 26, 2014"
2014-06-27,2014-06-27,34.750000,48.500000,9.487500,1001.625000,"June 27, 2014"
2014-06-28,2014-06-28,34.875000,49.000000,5.787500,999.375000,"June 28, 2014"
2014-06-29,2014-06-29,33.000000,57.750000,9.712500,997.750000,"June 29, 2014"
2014-06-30,2014-06-30,32.000000,67.750000,3.250000,997.500000,"June 30, 2014"

### Finding date of extreme values - using .idmax() and .idmin()

- Suppose we wanted to find info about the most humid day of the year and report it in a statement.

**Method 1**

In [23]:
# Method 1 - Find max and filter (not recommended practice)
max_humid = df['humidity'].max()
most_humid_date = df.loc[ df['humidity']==max_humid]
max_date = most_humid_date.index
most_humid_date

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2017-01-01,2017-01-01,10.0,100.0,0.0,1016.0,"January 01, 2017"

In [26]:
# Printing an example statement
print(f"The most humid day was {max_date.strftime('%m/%d/%Y')}, which was a {max_date.day_name()}.")
print(f" The humidity was {max_humid}, and the average temperature was {most_humid_date['meantemp']}")

The most humid day was Index(['01/01/2017'], dtype='object', name='datetime'), which was a Index(['Sunday'], dtype='object', name='datetime').
 The humidity was 100.0, and the average temperature was datetime
2017-01-01    10.0
Name: meantemp, dtype: float64

- Even though we only had one row, we still recieve our data as a Pandas series.

**Method 2**

In [28]:
# Method 2 - Using .idxmax() (recommended)
max_date = df['humidity'].idxmax()
max_date

Timestamp('2017-01-01 00:00:00')

In [29]:
df.loc[max_date]

date                  2017-01-01
meantemp                    10.0
humidity                   100.0
wind_speed                   0.0
meanpressure              1016.0
datetime_fmt    January 01, 2017
Name: 2017-01-01 00:00:00, dtype: object

- The long/tedious way of accessing this information would be to save each piece of info as a variable while using df.loc to slice out the right feature

In [31]:
# Saving each piece of info separately
str_date = df.loc[max_date, 'date']
temp = df.loc[max_date, 'meantemp']
humidity = df.loc[max_date, 'humidity']
wind = df.loc[max_date, 'wind_speed']
pressure = df.loc[max_date, 'meanpressure']

str_date, temp, humidity, wind, pressure

('2017-01-01', 10.0, 100.0, 0.0, 1016.0)

- Instead of doing this line by line, we can do it all at once using Python's tuple unpacking.
- If we have a variable that contains several values, we can slice out each value into a new variable by setting a variable name for each variable we want to create on the left and the container of variables to unpack on the right.

In [37]:
# Examine all columns to determine what to name variables
df.loc[max_date]

date                  2017-01-01
meantemp                    10.0
humidity                   100.0
wind_speed                   0.0
meanpressure              1016.0
datetime_fmt    January 01, 2017
Name: 2017-01-01 00:00:00, dtype: object

In [35]:
# Saving each value from the series as a separate variable
str_date, temp, humidity, wind, pressure, datetime = df.loc[max_date]
str_date, temp, humidity, wind, pressure, datetime

('2017-01-01', 10.0, 100.0, 0.0, 1016.0, 'January 01, 2017')

In [36]:
# Redo the printed statement from above
print(f"The most humid day was {max_date.strftime('%m/%d/%Y')}, \
which was a {max_date.day_name()}.")
print(f"The humidity was {humidity:.2f}, and the average temperature was {temp:.2f}.")

The most humid day was 01/01/2017, which was a Sunday.
The humidity was 100.00, and the average temperature was 10.00.